<div class="modal">
<div class="modal-content">
  <form>
    <p>Add new task</p>
    <div>
      <label for="task-name">
        Task Name
      </label>
      <input id="task-name" />
    </div>
     <div>
      <label for="task-description ">
        Task Description
      </label>
      <input  type="text" id="task-description " />
    </div>
     <div>
      <label for="task-due-date">
       Due Date
      </label>
      <input type="date" id="task-due-date" />
    </div>
    <div>
      <button class="cancel-button">Cancel</button>
      <button class="submit-button">Submit</button>
    </div>
  </form>

</div>
</div>
